@keyframes hold
  from
    transform: scale(0.9)

  to
    transform: scale(0.8)

@keyframes indicator
  from
    background-color: #C463FF
    width: 8px
    height: 8px
    border-radius: 50%

  to
    background-color: #C463FF
    height: 25px
    border-radius: 10px

@keyframes enter
  from
    transform: scale(50%)

  to
    transform: scale(100%)

@keyframes show
  from
    opacity: 0

  to
    opacity: 1

@keyframes dot-jump
  to
    transform: translateY(-4px)

@keyframes fadeIn
  from
    opacity: 0
    transform: translateY(-20px)

  to
    opacity: 1
    transform: translateY(0)
