@keyframes hold
  0%
    transform: scale(0.9)

  100%
    transform: scale(0.8)

@keyframes indicator
  0%
    background-color: #C463FF
    width: 8px
    height: 8px
    border-radius: 50%

  100%
    background-color: #C463FF
    height: 25px
    border-radius: 10px

@keyframes enter
  0%
    transform: scale(50%)
  100%
    transform: scale(100%)
