@import "global"

button
  font-size: 1rem
  /* TODO: Inspect this. Using absolute height, but should work on most cases. */
  height: calc(1rem + 2rem)
  padding: 1rem
  outline: unset
  cursor: pointer
  background-color: $color-contrast
  border: 1px solid #444
  border-bottom: 4px solid #303030
  color: rgba(255, 255, 255, 0.5)
  font-weight: $font-weight-strong
  border-radius: $border-radius
  display: flex
  justify-content: center
  align-items: center
  font-family: inherit

button:active:not(:disabled)
  transform: translateY(3px)

button.shrink
  width: auto

button[data-style="primary"]
  background: linear-gradient(to top, $color-primary, lighten($color-primary, $color-change-percent))
  border-color: darken($color-primary, $color-change-percent)
  color: $color-white

button[data-style="green"]
  background: linear-gradient(to top, $color-green, lighten($color-green, $color-change-percent))
  border-color: darken($color-green, $color-change-percent)
  color: $color-white
