@import "global"

.ChatContainer
  display: flex
  flex-direction: column
  gap: $size-x1
  border: $border-width solid $color-border

  > .header
    display: flex
    align-items: center
    gap: $size-x1
    padding: $size-10px
    border-bottom: $border-width solid $color-border

    > .title
      display: flex
      width: 100%
      gap: $size-5px

      > .Icon
        fill: $color-primary

      > .name
        color: $color-primary

      > .text
        color: $color-gray-text

  > .chat
    display: flex
    flex-direction: column
    gap: $size-10px
    overflow: hidden

  > .actions
    display: flex
    gap: $size-x1
    padding: $size-5px

  > .information
    display: flex
    align-items: center
    justify-content: flex-end
    padding: $size-5px
    border-top: $border-width solid $color-border
    gap: $size-x1
    background-color: $color-contrast
