@import "global"

$size-fill-icon: 24px

.ChatContainer
  display: flex
  flex-direction: column
  height: 100%
  gap: $size-x1
  border: $border-width solid $color-border

  > .header
    display: flex
    align-items: center
    gap: $size-x1
    padding: $size-x1
    border-bottom: $border-width solid $color-border

    > .title
      display: flex
      width: 100%
      gap: $size-5px

      > .icon, .name
        color: $color-primary

      > .text
        color: $color-gray-text

  > .chat
    display: flex
    flex-direction: column
    gap: $size-x1
    margin-left: $size-x1
    margin-right: $size-x1
    overflow: hidden
    flex-grow: 1
    overflow-y: scroll
    scroll-behavior: smooth
    scrollbar-width: none
    -ms-overflow-style: none

    &::-webkit-scrollbar
      display: none

  > .actions
    display: flex
    flex-direction: column
    margin-left: $size-x1
    margin-right: $size-x1
    gap: $size-10px

    > .input
      display: flex
      gap: $size-10px

      > .buttons
        display: flex
        gap: $size-10px
        margin-top: $size-5px
        height: max-content

    > .typing
      display: flex
      gap: $size-10px

      > .fill
        width: $size-fill-icon
        height: $size-fill-icon

  > .information
    display: flex
    align-items: center
    justify-content: flex-end
    padding: $size-5px
    border-top: $border-width solid $color-border
    gap: $size-x1
    background-color: $color-contrast
