@import "global"

$checkbox-size: 13px

$color-default: $color-contrast-darker
$color-selected: $color-primary

.Checkbox
  display: flex
  gap: $size-5px
  align-items: center
  height: max-content
  width: max-content

  &.disabled
    > .container
      cursor: not-allowed

      &:active
        animation: none
        transform: none

  > .container
    width: $checkbox-size
    height: $checkbox-size
    border-radius: $size-3px
    cursor: pointer

    &:focus-visible
      transition: 150ms
      outline: $size-2px solid $color-outline-tab
      outline-offset: 1px

    &:active
      animation: hold 200ms
      transform: scale(0.8)

  > .selected
    background-color: $color-selected

  > .default
    border: 1px solid $color-default
    box-shadow: inset 0 0 $size-5px $color-default
