@import "global"

$checkbox-size: 13px

.Checkbox
  display: flex
  gap: $size-5px
  align-items: center
  height: max-content
  width: max-content

  &:focus-visible
    transition: 150ms
    outline: $size-2px solid $color-outline-tab
    outline-offset: $size-2px
    border-radius: $size-3px

  > .container
    width: $checkbox-size
    height: $checkbox-size
    border-radius: $size-3px
    cursor: pointer

    &:active
      animation: hold 200ms
      transform: scale(0.8)

  > .selected
    background-color: $color-primary

  > .default
    border: 1px solid $color-contrast-darker
    box-shadow: inset 0 0 $size-5px $color-contrast-darker
