@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap')
@import "Animations"

/* Utility variables */
$color-change-percent: 15%
$border-radius: 10px
$border-radius-small: 5px
$border-width: 1px
$line-height: 100%
$line-height-large: 160%

/* Colors */
$color-text: #4B5563
$color-red: #FF6D6D
$color-green: #5CC679
$color-green-dark: #4CA464
$color-green-light: #7AED9A
$color-yellow: #FFE500
$color-primary: #C463FF
$color-primary-light: #da9eff
$color-white: #FFF
$color-contrast: #F9FBFC
$color-contrast-dark: #E9EBED
$color-contrast-darker: #D9D9D9
$color-contrast-icon: #DBDBDB
$color-gray-text: #BABABA
$color-border: $color-contrast-dark
$color-rainbow: linear-gradient(to top right,#ED7EFF, #7EC1FF)
$color-card-actions-bg: #F7F7F7
$color-outline-tab: $color-primary

/* Sizing, margins & paddings */
$size-x1: 15px
$size-x2: 30px
$size-10px: 10px
$size-5px: 5px
$size-3px: 3px
$size-2px: 2px
$size-icon: 18px

/* Typography */
$font-size-small: 10px
$font-size-medium: 12px
$font-size-normal: 1rem
$font-size-large: 16px
$font-weight-default: 300
$font-weight-strong: 500
$font-weight-stronger: bold

@mixin box-shadow
  box-shadow: 0 5px 16px $color-contrast-dark

@mixin border
  border: $border-width solid $color-border

*
  box-sizing: border-box
  font-family: inherit
  font-size: inherit
  line-height: $line-height

html,
body,
#root,
#storybook-root
  height: 100%

html
  font-size: $font-size-normal

body
  position: relative
  margin: 0
  font-family: "Noto sans"
  font-weight: $font-weight-default
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale
  color: $color-text
  user-select: none
  overflow: hidden

button:disabled,
input:disabled
  opacity: 0.5
  cursor: not-allowed

input
  padding: $size-10px
  border-radius: $border-radius
  background: none
  color: inherit
  border: 1px solid $color-border
  border-bottom-width: 2px
  outline: unset
  font-family: inherit

p
  margin: unset
  line-height: $line-height-large

h1, h2, h3, h4, h5, h6
  // font-family: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif
  font-weight: $font-weight-strong
  margin-top: 0
  margin-bottom: $size-10px
  font-size: $font-size-large

b, strong
  font-weight: $font-weight-strong
