@import "global"

$avatar-size: 40px

.ImageMessage
  > .wrapper
    width: 100%
    display: flex
    gap: $size-10px

    > .avatar
      cursor: pointer
      width: $avatar-size
      height: $avatar-size
      border-radius: $border-radius
      background-color: $color-contrast
      display: flex
      justify-content: center
      align-items: center
      overflow: hidden

      > img
        width: 100%
        height: 100%

    > .content
      display: flex
      flex-direction: column
      gap: $size-5px

      > .text
        max-width: 600px
        user-select: text
        line-height: $line-height-large

      > .author-name
        font-weight: $font-weight-strong
        user-select: text

      > .container
        width: 175px
        height: 200px

        > .image
          width: 100%
          height: 100%
          border-radius: $border-radius
          object-fit: cover

    > .time
      display: flex
      align-items: flex-end
      margin-left: auto
      color: $color-gray-text
