@import "utility"
@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap")

/* Utility variables */
$color-darken-percent: 15%
$border-radius: 8px
$border-width: 1px
$line-height: 100%
$line-height-large: 160%

/* Colors */
$color-text: #4B5563
$color-red: #FF6D6D
$color-green: #5CC679
$color-green-light: #7AED9A
$color-yellow: #FFE500
$color-primary: #C463FF
$color-white: #FFF
$color-contrast: #F9FBFC
$color-contrast-dark: #E9EBED
$color-contrast-darker: #D9D9D9
$color-contrast-icon: #DBDBDB
$color-gray-text: #BABABA

/* Sizing, margins & paddings */
$size-x1: 15px
$size-x2: 30px
$size-10px: 10px
$size-5px: 5px
$size-3px: 3px
$size-2px: 2px

/* Typography */
$font-size-small: 10px
$font-size-medium: 12px
$font-size-normal: 1rem
$font-size-large: 16px

@mixin box-shadow
  box-shadow: 0 5px 16px var(--color-box-shadow)

@mixin border
  border: $border-width solid var(--color-ui-border)

*
  box-sizing: border-box
  font-family: inherit
  font-size: inherit
  line-height: $line-height

html,
body,
#root
  height: 100%

html
  font-size: $font-size-normal

body
  position: relative
  margin: 0
  font-family: "Inter", sans-serif
  font-weight: 300
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale
  color: $color-text
  user-select: none
  overflow: hidden

button:disabled,
input:disabled
  opacity: 0.5
  cursor: not-allowed

input
  padding: $size-10px
  border-radius: $border-radius
  background: none
  color: inherit
  border: 1px solid var(--color-ui-border)
  border-bottom-width: 2px
  outline: unset
  font-family: inherit

p
  margin: unset
  line-height: $line-height-large

h1, h2, h3, h4, h5, h6
  // font-family: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif
  font-weight: bold
  margin-top: 0
  margin-bottom: $size-10px
  font-size: $font-size-large
