@import "global"

.Input
  > .container
    display: flex
    align-items: center
    border: $border-width solid $color-border
    border-radius: $border-radius

    &:focus-visible
      outline: $size-2px solid $color-outline-tab
      border-radius: $border-radius-small

    > input
      border: none
      width: 100%

    > .icon
      width: $size-icon
      height: $size-icon
      fill: $color-contrast-icon
      margin-left: $size-10px

    > .actions
      display: flex
      margin-right: $size-5px
      fill: $color-contrast-icon

  > .constraints
    margin-top: $size-5px
    padding-left: calc($border-radius / 2)

    > .constraint
      color: $color-red
      font-size: 0.8rem

      &::before
        content: ""
        display: inline-block
        width: 1.2ch
        height: 1.2ch
        border-radius: 50%
        background-color: currentColor
        margin-right: 1ch
        box-shadow: 0 0 8px currentColor

      &[data-is-met="true"]
        color: $color-green
