@import "global"

.KeyCue
  display: inline-block
  font-size: $size-10px
  border-radius: $border-radius-small
  padding: $size-2px $size-10px
  background-color: $color-contrast-darker
  border: 1px solid darken($color-contrast-darker, $color-change-percent)
  border-bottom-width: 4px
  text-transform: uppercase
  line-height: $line-height-large
