/* FIXME: Seems to be causing `global.sass` to be include twice on the final CSS. */
@import "global"

.Login
  background-color: $color-contrast
  height: 100%
  display: flex
  justify-content: center
  align-items: center

.login-box
  @include box-shadow
  @include border
  display: flex
  flex-direction: column
  gap: $size-x1
  padding: 2rem
  border-radius: $border-radius
  background-color: $color-white
  max-width: 450px
  width: 100%
