@import "global"

$avatar-size: 40px

.Message
  display: flex
  justify-content: flex-start
  align-items: flex-start
  width: 100%

  > .wrapper
    width: 100%
    display: flex
    gap: $size-10px

    > .avatar
      cursor: pointer
      width: $avatar-size
      height: $avatar-size
      border-radius: $border-radius
      background-color: $color-contrast
      display: flex
      justify-content: center
      align-items: center
      overflow: hidden

      > img
        width: 100%
        height: 100%

    > .content
      > .text
        max-width: 600px

      > .author-name
        cursor: pointer
        font-weight: $font-weight-strong

    > .time
      display: flex
      align-items: center
      margin-left: auto
