@import "global"

.Navigation
  height: 100%
  overflow-y: scroll
  scroll-behavior: smooth
  scrollbar-width: none
  -ms-overflow-style: none

  &::-webkit-scrollbar
    display: none

  > .container
    display: flex
    flex-direction: column
    align-items: center
    justify-content: cente

    > .logo
      cursor: pointer

    > .app-name
      display: flex
      align-items: flex-end
      font-family: Iowan Old Style

      > .copyright
        font-style: italic
        margin-left: $size-2px
        font-size: $font-size-small

    > .divider
      height: $border-width
      margin: $size-x1
      width: 100%
      background-color: $color-contrast-dark

    > .servers
      display: flex
      flex-direction: column
      align-items: flex-end
      justify-content: center
      gap: $size-x1

      > .add-server
        cursor: pointer
