@import "global"

$size-dot: 6px

.NotificationDot
  position: relative
  display: inline-block

  > .dot
    position: absolute
    top: 0
    right: 0
    width: $size-dot
    height: $size-dot
    background-color: $color-red
    border-radius: $border-radius
    border: 1px solid $color-contrast
