@import "global"

.RoomsList
  display: flex
  flex-direction: column
  gap: $size-x2
  padding: $size-5px
  height: 100%
  overflow-y: scroll
  scroll-behavior: smooth
  scrollbar-width: none
  -ms-overflow-style: none

  &::-webkit-scrollbar
    display: none

  > .spaces
    display: flex
    flex-direction: column
    gap: $size-x1

  > .channels
    display: flex
    flex-direction: column
    gap: $size-x1
