@import "global"

.Roster

  & > .header
    display: flex
    align-items: center
    margin: $size-5px

    & > .title
      width: 100%
      margin-left: $size-5px

  & > .divider
    height: $border-width
    width: 100%
    background-color: $color-contrast-dark
