@import "global"

.RosterUser
  width: max-content
  cursor: pointer
  padding: $size-5px

  view-timeline-name: --user
  view-timeline-axis: block
  animation-timeline: --user
  animation-name: show
  animation-range: entry 10% cover 25%
  animation-fill-mode: both

  &:hover
    background-color: $color-contrast-dark
    border-radius: $border-radius
