@import "global"

.RosterUser
  width: max-content
  cursor: pointer
  padding: $size-5px

  &:focus-visible
    transition: 150ms
    border: $size-2px solid $color-outline-tab
    outline: none
    border-radius: $border-radius

  &:hover
    background-color: $color-contrast-dark
    border-radius: $border-radius
