@import "global"

$server-size: 47px

.ServerListItem
  display: flex
  align-items: center

  &:active
    > .indicator-container > .indicator
      height: 8px

  > .indicator-container
    display: flex
    flex-direction: column
    justify-content: center
    width: $size-5px
    height: auto
    width: 8px
    overflow: hidden

    > .indicator
      width: 8px
      height: 8px
      border-radius: 50%
      transition: 300ms ease-in-out
      transform: translate(-$size-3px)

    > .selected
      animation: indicator 300ms
      background-color: $color-primary
      height: 25px
      border-radius: 10px

  > .avatar
    position: relative
    overflow: hidden
    width: $server-size
    height: $server-size
    border-radius: $border-radius
    background-color: $color-red
    margin-left: $size-5px
    box-sizing: border-box
    cursor: pointer

    &:focus-visible
      outline: $size-2px solid $color-outline-tab
      outline-offset: $size-3px
      border-radius: $border-radius-small

    &:active
      animation: hold 200ms
      transform: scale(0.8)

    > svg
      position: absolute
      left: 50%
      top: 50%
      transform: translate(-50%, -50%)
      width: calc($server-size * sqrt(2))
      height: calc($server-size * sqrt(2))

  > .selected
    border: $size-3px solid $color-primary
    box-shadow: 0 3px 5px 2px $color-contrast-darker
    box-sizing: border-box
    transition: 200ms
