.StatusMessage
  padding: 0.5rem
  background: transparentize(#e53e3e, 0.9)
  border: 1px solid transparentize(#e53e3e, 0.7)
  border-radius: var(--border-radius)
  color: var(--color-error)
  text-align: center
