@import url("tailwindcss/base");
@import url("tailwindcss/components");
@import url("tailwindcss/utilities");

* {
  @apply box-border leading-[100%];
}

html,
body,
#root,
#storybook-root {
  @apply h-full font-sans;
}

b {
  @apply m-0 p-0;
}

input {
  @apply border-none p-2 outline-none;
}

input::-ms-reveal,
input::-ms-clear {
  display: none;
}

body {
  @apply relative m-0 select-none overflow-hidden antialiased;
  @apply font-noto font-normal text-stone-600;
}

input:disabled,
textarea:disabled {
  @apply cursor-not-allowed opacity-50;
}

::selection {
  @apply bg-purple-500 text-white;
}

:focus-visible:not(input) {
  @apply outline-2 outline-offset-2 outline-blue-500 transition-all;
}

::-webkit-scrollbar {
  @apply h-4 w-2;
}

::-webkit-scrollbar-track {
  @apply bg-transparent;
}

::-webkit-scrollbar-thumb {
  @apply m-1 rounded-xl bg-gray-300;
}

input[type="range"]::-webkit-slider-thumb {
  @apply size-4 appearance-none rounded-full border border-fuchsia-600 bg-slate-50 shadow;
  border: 1px solid rgb(192, 38, 211);
}

input[type="range"]::-moz-range-thumb {
  @apply size-4 appearance-none rounded-full border border-fuchsia-600 bg-slate-50 shadow;
}

summary::before {
  content: "►";
}

details[open] summary::before {
  content: "▼";
}
