@import "global"

$avatar-size-default: 37px
$avatar-size-large: 50px
$status-size-default: 13px
$status-size-large: 17px

.UserProfile
  display: flex
  gap: $size-10px

  > .avatar-wrapper
    position: relative

    > .avatar
      position: relative
      overflow: hidden
      width: $avatar-size-default
      height: $avatar-size-default
      border-radius: $border-radius
      background-color: $color-red

      > svg
        position: absolute
        left: 50%
        top: 50%
        transform: translate(-50%, -50%)
        width: calc($avatar-size-default * sqrt(2))
        height: calc($avatar-size-default * sqrt(2))

    > .status
      position: absolute
      width: $status-size-default
      height: $status-size-default
      border-radius: 50%
      border: 2px solid $color-contrast
      transform: translate(25%, 25%)
      right: 0
      bottom: 0

      &.online
        background-color: $color-green-light

      &.offline
        background-color: $color-gray-text

      &.idle
        background-color: $color-yellow

  > .large
    > .avatar
      width: $avatar-size-large
      height: $avatar-size-large

      > svg
        width: calc($avatar-size-large * sqrt(2))
        height: calc($avatar-size-large * sqrt(2))

    > .status
      width: $status-size-large
      height: $status-size-large

  > .info
    display: inline-flex
    flex-direction: column
    gap: $size-3px
    margin-right: auto

    > .display-name
      font-size: $font-size-large
      font-weight: $font-weight-strong

    > .activity
      display: flex
      justify-items: center

      > .activity-or-text
        font-size: $font-size-small

        > .platform
          font-weight: $font-weight-strong

      > .activity-icon
        margin-right: $size-3px
        width: $size-10px
        height: $size-10px
