@import "index"

$avatar-size: 37px

.UserProfile
  display: flex
  gap: $size-5px
  padding: $size-x1

  > .avatar
    position: relative
    overflow: hidden
    width: $avatar-size
    height: $avatar-size
    border-radius: $border-radius
    background-color: $color-red

    > svg
      position: absolute
      left: 50%
      top: 50%
      transform: translate(-50%, -50%)
      width: calc($avatar-size * sqrt(2))
      height: calc($avatar-size * sqrt(2))

    > .status
      position: absolute
      width: 15px
      height: 15px
      border-radius: 50%
      border: 2px solid $color-contrast
      transform: translate(25%, 25%)
      right: 0
      bottom: 0

      &.online
        background-color: $color-green-light

      &.offline
        background-color: $color-gray-text

      &.idle
        background-color: $color-yellow

  > .info
    display: inline-flex
    flex-direction: column
    gap: $size-3px
    margin-right: auto

    > .display-name
      font-size: $font-size-large
      font-weight: 600
      line-height: $line-height

    > .username
      font-size: $size-10px
      font-weight: 300
      line-height: $line-height
