@import "index"

.UserProfile
  display: flex
  padding: $size-x1

  > .avatar
    position: relative
    overflow: hidden
    width: 37px
    height: 37px
    border-radius: $border-radius
    background-color: $color-red

    > svg
      position: absolute
      left: 50%
      top: 50%
      transform: translate(-50%, -50%)
      width: 110%
      height: 110%

    > .status
      position: absolute
      width: 15px
      height: 15px
      border-radius: 50%
      border: 2px solid $color-contrast
      transform: translate(25%, 25%)
      right: 0
      bottom: 0

      &.online
        background-color: $color-green-light

      &.offline
        background-color: $color-gray-text

      &.idle
        background-color: $color-yellow

  > .info
    margin-right: auto
    padding: 4px

    > .display-name
      font-size: $font-size-large
      font-weight: 600
      line-height: $font-size-line-height

    > .username
      font-size: $size-10px
      font-weight: 300
      line-height: $font-size-line-height
