@import "global"

.UserCard
  position: absolute
  display: flex
  flex-direction: column
  width: 250px
  min-height: 320px
  border-radius: $border-radius
  border: $border-width solid $color-border
  box-shadow: 0px 0px 5px 0px $color-contrast-dark
  background-color: $color-contrast

  > .header
    padding: $size-x1
    border-radius: $border-radius
    border-bottom: $border-width solid $color-border
    background-color: $color-white

  > .body
    display: flex
    flex-direction: column
    padding: $size-x1
    gap: $size-x1
    flex-grow: 1
    background-color: $color-contrast

    > .about-me
      > .about-content
        font-size: $font-size-small
        user-select: text

    > .account
      display: flex
      flex-direction: column
      gap: $size-5px

      > span
        font-size: $font-size-small

  > .actions
    display: flex
    flex-direction: row
    justify-content: flex-end
    padding: $size-10px
    border-top: $border-width solid $color-border
    background-color: $color-card-actions-bg
    border-bottom-left-radius: $border-radius
    border-bottom-right-radius: $border-radius
